*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:black;
color:white;
overflow-x:hidden;
}

#particles-js{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:rgba(0,0,0,0.7);
}

.logo-area{
display:flex;
align-items:center;
gap:10px;
}

.logo{
width:50px;
}

.company-name{
color:#a855f7;
animation:glow 2s infinite alternate;
}

nav a{
margin:0 15px;
color:white;
text-decoration:none;
transition:0.3s;
}

nav a:hover{
color:#a855f7;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
animation:fade 2s;
}

.hero-title{
font-size:50px;
margin-bottom:10px;
}

button{
padding:12px 30px;
border:none;
background:#a855f7;
color:white;
border-radius:30px;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.1);
}

.services{
padding:80px;
text-align:center;
}

.card-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
flex-wrap:wrap;
}

.card{
background:#111;
padding:30px;
border-radius:15px;
width:220px;
transition:0.4s;
}

.card:hover{
transform:translateY(-15px);
box-shadow:0 0 20px #a855f7;
}

.projects{
padding:80px;
text-align:center;
}

.project-container{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:30px;
margin-top:40px;
}

.project{
background:#111;
padding:30px;
width:230px;
border-radius:15px;
transition:0.4s;
}

.project:hover{
transform:scale(1.1);
box-shadow:0 0 20px #a855f7;
}

.contact{
text-align:center;
padding:80px;
}

form{
display:flex;
flex-direction:column;
align-items:center;
gap:15px;
margin-top:20px;
}

input,textarea{
width:300px;
padding:12px;
border:none;
border-radius:10px;
}

footer{
text-align:center;
padding:20px;
background:#111;
}

@keyframes glow{

from{
text-shadow:0 0 5px #a855f7;
}

to{
text-shadow:0 0 20px #a855f7;
}

}

@keyframes fade{

from{
opacity:0;
transform:translateY(40px);
}

to{
opacity:1;
transform:translateY(0);
}

}
